.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .header-logo {
  height: 32px;
  width: 32px;
  margin-right: 10px;
  border-radius: 4px;
}

.spacer {
    flex: 1 1 auto;
  }